.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 675px;
  background: linear-gradient(135deg, rgb(255, 228, 196), #290075);
}

.login-box {
  width: 400px;
  padding: 30px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  margin-top: 130px;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group .icon {
  position: absolute;
  left: 20px;
  top: 38%;
  transform: translateY(-50%);
  color: #777;
}

.input-group input {
  width: 300px;
  padding: 12px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #ff758c;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: rgb(255, 228, 196);
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #5a7efb;
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.signup-link span {
  color: #290075;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.signup-link span:hover {
  text-decoration: underline;
}